:root {
    --font-family: '__Inter_36bd41', '__Inter_Fallback_36bd41';
}

body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.masthead {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('../img/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.text-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/background.svg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.masthead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/background.svg');
    background-size: cover;
    background-position: center;
    padding: 10%;
    z-index: -1;
}

.masthead .container {
    width: 100%;
    max-width: none;
    padding-left: 10%;
    padding-right: 10%;
}

.masthead h1 {
    color: black;
    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Archivo Black', sans-serif;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 12px 30px;
    font-size: 1.2em;
    transition: all 0.3s ease;
    font-weight: 400;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: scale(1.05);
}

.game-duration {
    font-style: italic;
    color: #333;
    font-weight: 400;
    margin-bottom:500px;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-weight: 400;
}

/* Responsive styles */
@media (max-width: 768px) {
    .masthead::before {
        padding: 5%;
    }

    .masthead .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .masthead h1 {
        font-size: 2.5em;
    }

    .lead {
        font-size: 1rem;
    }

    .btn-primary {
        padding: 10px 20px;
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .background-image {
        background-image: url('../img/background_phone.gif');
        background-size: 80% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
        margin-top: 5px;
    }

    .masthead {
        align-items: flex-start;
        padding-top: 5vh;
        background-image: url('../img/background_phone.gif');
        background-size: 80% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
        margin-top: 20px;
    }

    .masthead::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/background_phone.gif');
        background-size: 80% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
        margin-top: 20px;
        z-index: -1;
    }

    .masthead h1 {
        font-size: 2em;
    }

    .lead {
        font-size: 0.9rem;
    }

    .btn-primary {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

.top-right-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}
